# ML-Bank

Clean up the data!

In [2]:
# Import Libraries
import pandas as pd

In [ ]:
# Load CSV data into Pandas using `read_csv`
csv_path = "Resources/loan_data.csv"
MLB_loan_data = pd.read_csv(csv_path)

In [ ]:
# Identify the number of rows and columns (shape) in the DataFrame
MLB_loan_data.shape

(45000, 14)

In [ ]:
# Generate a sample of the data to visually ensure data has been loaded in correctly.
MLB_loan_data.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [ ]:
# Identify the number of records in the DataFrame, and compare it with the number of rows in the original file
MLB_loan_data.count()

person_age                        45000
person_gender                     45000
person_education                  45000
person_income                     45000
person_emp_exp                    45000
person_home_ownership             45000
loan_amnt                         45000
loan_intent                       45000
loan_int_rate                     45000
loan_percent_income               45000
cb_person_cred_hist_length        45000
credit_score                      45000
previous_loan_defaults_on_file    45000
loan_status                       45000
dtype: int64

In [ ]:
# Identify null records
MLB_loan_data.isnull().mean() * 100

person_age                        0.0
person_gender                     0.0
person_education                  0.0
person_income                     0.0
person_emp_exp                    0.0
person_home_ownership             0.0
loan_amnt                         0.0
loan_intent                       0.0
loan_int_rate                     0.0
loan_percent_income               0.0
cb_person_cred_hist_length        0.0
credit_score                      0.0
previous_loan_defaults_on_file    0.0
loan_status                       0.0
dtype: float64

In [ ]:
# Drop any null records
MLB_loan_data = MLB_loan_data.dropna()

In [ ]:
# Validate that null records have been dropped
MLB_loan_data.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for ebitda.

In [ ]:
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#csv_data['ebitda'] = csv_data['ebitda'].fillna(0)
#csv_data['ebitda'].isnull().sum()

0

### Drop Duplicates

In [11]:
MLB_loan_data = MLB_loan_data.drop_duplicates()

In [13]:
# Check whether any rows were dropped
MLB_loan_data.count()

person_age                        45000
person_gender                     45000
person_education                  45000
person_income                     45000
person_emp_exp                    45000
person_home_ownership             45000
loan_amnt                         45000
loan_intent                       45000
loan_int_rate                     45000
loan_percent_income               45000
cb_person_cred_hist_length        45000
credit_score                      45000
previous_loan_defaults_on_file    45000
loan_status                       45000
dtype: int64

In [16]:
# Check data types
print(MLB_loan_data.dtypes)

person_age                        float64
person_gender                      object
person_education                   object
person_income                     float64
person_emp_exp                      int64
person_home_ownership              object
loan_amnt                         float64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                        int64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object